
* {
    /* font-size: 80%; */
    /* background: black; */
    color: chartreuse;
    text-align: center;
}
/* body, html {
height: 100%;
} */

.bg {
/* The image used */
background-image: url("images/background.jpg");
background-attachment: fixed;

/* Full height */
/* height: 100%; */

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}