<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>ARP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- body style -->
    <link rel="stylesheet" href="static/style.css" class="stylesheet">


</head>

<body id="base" class="bg" style="opacity: 0; font-family: 'Press Start 2P', cursive;">
{% block navbar %}
    <!-- NAVBAR -->
    <div class="card border-3 fixed-top bg" style=" border-bottom-color: chartreuse; width: max;">
        <div class="row" style="padding: 1rem">
            <div class="col">
                <div class="card" style="background: black; border-color: chartreuse;">
                    <a href="/home" style="margin: 1%;text-decoration: none; font-family: 'Press Start 2P', cursive;">
                        <h1 style="font-size: 2rem ;text-align: left;"><b><l style="color: red">A</l>non <l style="color: red">R</l>oot <l style="color: red">P</l>rivilages</b></h1>
                        <div style="font-size: 15px; text-align: left; margin-top: 2%;">
                            <i><l style="color: red">root@arp</l> [ <l style="color: red">~</l> ] #  <l style="color: rgb(207, 207, 91)">cd / _</l></i>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="col-1"></div> -->
            <!-- <div class="col row mx-auto" style="margin: auto;"> -->
            <div class="col row" style="margin: auto">

{% block buttons %}

{% block home_button %}
                <div class="container col" style="width: auto; padding: 1%;">
                    <!-- <a href="/home"> -->
                        <button type="submit" id="home_button" value="/home" class="btn" style="font-size: 10px;border-color: chartreuse; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">home/_</button>
                    <!-- </a> -->
                </div>
{% endblock %}
{% block terminal_button %}
                <div class="container col" style="width: auto; padding: 1%;">
                    <!-- <a href="terminal"> -->
                        <button type="submit" id="terminal_button" value="/terminal" class="btn" style="border-color: red; font-size: 10px; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">>_terminal</button>
                    <!-- </a> -->
                </div>
{% endblock %}
{% block python3_button %}
                <!-- <div class="container col" style="width: auto; padding: 1%;">
                        <button type="submit" id="python3_button" value="/python3" class="btn" style="border-color: dodgerblue; font-size: 10px; background-color: black; color: yellow; font-family: 'Press Start 2P', cursive;">python3</button>
                </div> -->
                <div class="container col dropdown" style="width: auto; padding: 1%;">
                    <button class="btn dropdown-toggle" style="border-color: chartreuse; font-size: 10px; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;" data-bs-toggle="dropdown" aria-expanded="false">
                      library
                    </button>
                    <ul class="dropdown-menu" style="border-color:chartreuse; background: black;">
                        <li><a class="dropdown-item" type="submit" id="articles_button" value="/articles" class="btn" style="text-align: left; color: chartreuse">articles</a></li>
                        <li><hr class="dropdown-divider" style="background: chartreuse"></li>
                        <li><a class="dropdown-item" type="submit" id="python3_button" value="/python3" class="btn" style="text-align: left; color: chartreuse">python3</a></li>
                    </ul>
                </div>
{% endblock %}
{% block user_button %}
                <div class="container col" style="width: auto; padding: 1%;">
                    <!-- <a href="/user"> -->
                        <button type="submit" id="user_button" value="/user" class="btn" style="border-color: chartreuse; font-size: 10px; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">$USER</button>
                    <!-- </a> -->
                </div>
{% endblock %}
{% block terminate_button %}
                <div class="container col" style="width: auto; padding: 1%;">
                    <!-- <a href="/terminate_session"> -->
                        <button type="submit" class="btn" id="terminate_button" style="border-color: red; font-size: 10px; background-color: black; color: red; font-family: 'Press Start 2P', cursive;">disconnect</button>
                    <!-- </a> -->
                </div>
{% endblock %}
{% endblock %}
            </div>
        </div>

        <!-- <hr style="height: 3px; background: chartreuse; border-color: chartreuse;"> -->
    </div>
{% endblock %}


    <!-- CONTENT -->      
{% block content %}

{% endblock %}
                
{% block footer %}
<!-- footer -->
    <div>
        <div class="card fixed-bottom" style="font-size: 10px; background: black; border-color: chartreuse; color: chartreuse; font-family: 'Press Start 2P'; margin: 1%">
            <div class="row" style="margin: 0.5rem">
                <div class="col"><i style="margin: 0.5%">2023 # Created by Trotyl # powered by Python3</i></div>
                <i class="col" id="footer_msg" style="text-align: left"></i>
            </div>
        </div>
    </div>
{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <!-- js files connector -->  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='base.js')}}"></script>
    
{% block script %}
{% endblock %}

</body>


</html>