{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block content %}

            {% if msg %}
                <div class="alert alert-danger alert-dismissible fade show border-1" id="info" role="alert" style="opacity: 0; color: red; border-color: red; background-color: black; margin: auto; max-width: 50%; margin-top: 20%">
                    <h1>
                        <b id="info_value" value="{{ msg }}"></b>
                    </h1>
                </div>
            {% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='blank.js')}}"></script>
{% endblock %}
