{% extends "base.html" %}


{% block home_button %}
                    <div class="container col" style="width: auto; padding: 1%; margin: auto">
                            <button disabled type="submit" class="btn" style="font-size: 10px;border-color: chartreuse; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">home/_</button>
                    </div>
{% endblock %}

{% block content %}

<div style="margin-top: 12rem; margin-bottom: 12rem;">
    {% if rank == 0 %}
    <div class="" Id="welcome_card" style="opacity: 0; margin: 2%">
        <div class="card" style="background: black; border-color: chartreuse; color: chartreuse; font-family: 'Press Start 2P'">
            <div class="overflow-auto" style="height: auto;">
                <div style="margin: 2%; font-size: 13px; text-align: left;">
                    <div style=" text-align: left;">
                        <h4 style="text-align: left; color: red;">WELCOME TO THE NEWCOMMER!</h4>
                        <p style="text-align: left; color: rgb(207, 207, 91);"><i style="color: chartreuse">Anon Root Privilages</i> is a free knowledge base from which you can learn the basics and operation of IT Security tools and programs, Linux support as well as the basics of programming in, among others, Python3.</p>
                        <p style="text-align: left; color: rgb(207, 207, 91);">If you are in entry level, in case of Linux practice I recommand you to check <i style="color: red">>_terminal</i> tool located top in navigation bar. It's a simple unix systems terminal imitation wrote in Python3 by me, just a toy but may help you understand Linux and grow your skills at start!</p>
                        <p style="text-align: left; color: rgb(207, 207, 91);">So go get a coffee, sit back, upgrade your favorite Linux distribution and get started!</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mx-auto" style="padding: 2%">
        <div class="col">
            <div class="card" style="height: 15rem; border-color: chartreuse; background: black">
                <i style="padding: 2%; text-align: left;" id="message"></i>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background: black; border-color: chartreuse; color: chartreuse; font-family: 'Press Start 2P'">
                <div class="overflow-auto" style="height: auto;">
                    <div style="margin: 2%; font-size: 13px; text-align: left;">
                        <div style=" text-align: left;">
                            <h4 style="text-align: left; color: red;">WELCOME TO THE NEWCOMMER!</h4>
                            <p style="text-align: left; color: rgb(207, 207, 91);"><i style="color: chartreuse">Anon Root Privilages</i> is a free knowledge base from which you can learn the basics and operation of IT Security tools and programs, Linux support as well as the basics of programming in, among others, Python3.</p>
                            <p style="text-align: left; color: rgb(207, 207, 91);">If you are in entry level, in case of Linux practice I recommand you to check <i style="color: red">>_terminal</i> tool located top in navigation bar. It's a simple unix systems terminal imitation wrote in Python3 by me, just a toy but may help you understand Linux and grow your skills at start!</p>
                            <p style="text-align: left; color: rgb(207, 207, 91);">So go get a coffee, sit back, upgrade your favorite Linux distribution and get started!</p>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script src="{{ url_for('static', path='home.js')}}"></script>
{% endblock %}

{% endblock %}