{% extends "base.html" %}


{% block python3_button %}
                    <!-- <div class="container col" style="width: auto; padding: 1%;">
                            <button disabled type="submit" class="btn" style="border-color: dodgerblue; font-size: 10px; background-color: black; color: yellow; font-family: 'Press Start 2P', cursive;">python3</button>
                    </div> -->
                    <div class="container col dropdown" style="width: auto; padding: 1%;">
                        <button class="btn dropdown-toggle" style="border-color: dodgerblue; font-size: 10px; background-color: black; color: yellow; font-family: 'Press Start 2P', cursive;" data-bs-toggle="dropdown" aria-expanded="false">
                        library
                        </button>
                        <ul class="dropdown-menu" style="border-color:chartreuse; background: black;">
                            <li><a class="dropdown-item" type="submit" id="articles_button" value="/articles" class="btn" style="text-align: left; color: chartreuse">articles</a></li>
                            <li><a class="dropdown-item disabled" type="submit" id="python3_button" value="/python3" class="btn" style="text-align: left;">python3</a></li>
                        </ul>
                    </div>
{% endblock %}

{% block content %}

<div class="" id="python3" style="opacity: 0; width: 100%; margin-bottom: 5%;">
    <div class="row mx-auto" style="margin-top: 15rem;">
        <div class="col">
            <div class="card" style="background: black; border-color: chartreuse; color: chartreuse; font-family: 'Press Start 2P'; margin-left: 3%; margin-right: 3%">
                <div class="" style="height: 30rem;">
                    <div style="margin:2%">

                        <div class="overflow-auto" style="font-size: 10px;">
                            <form method="post" action="">
                                <p style="text-align: left; color: red">0. Introduction</p>
                                <ul>
                                    <li name="python3" value="about" style="text-align: left;">
                                        about
                                    </li>
                                </ul>
                                <p style="text-align: left; color: red">0.1 setup</p>
                                <ul>
                                    <li name="python3" value="download" style="text-align: left;">
                                        download
                                    </li>
                                    <li name="python3" value="usage" style="text-align: left;">
                                        usage
                                    </li>
                                    <li name="python3" value="ppm" style="text-align: left;">
                                        pip - python packet manager
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='python3.js')}}"></script>
{% endblock %}
