{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block content %}

<div class="" style="margin-top: 10%;">
    <div class="row" style="margin: auto">
        <div class="col-max" id="image_area" style="opacity: 0; margin-bottom: 3%">
            <img id="image" src="/static/images/anon.png" alt="" style="opacity: 0; width: 15rem; height: 15rem;">
        </div>
        <div class="col-max">
            <!-- {% if msg %}
                <div class="alert alert-danger alert-dismissible fade show border-1" id="info" role="alert" style="opacity: 0; border-color: red; background-color: black; margin: auto; max-width: 50%;">
                    <h1>
                        <b id="info_value" value="{{ msg }}"></b>
                    </h1>
                </div>
            {% endif %} -->
        </div>
        <div class="col-max" >
            <div class="card mx-auto" id="login_card" style="opacity: 0; text-shadow: chartreuse; background: black; border-color: chartreuse; color: chartreuse; font-family: 'Press Start 2P'; margin-top: 2%; max-width: 25rem; min-width: 20rem;">
                <form method="POST" action="">
                    <div style="margin: 1rem;">
                        <div class="input-group">
                            <span class="input-group-text" style="text-align: left; font-size: 13px; border-color: transparent; background: black;"><i style="color: red">login: </i></span>
                            <input autofocus value="" data-lpignore="true" type="text" class="form-control" name="login" id="login" placeholder="anon" aria-label="cli" aria-describedby="basic-addon1" style="box-shadow: none; font-size: 13px; text-align: left; border-color: transparent; color: chartreuse; background: black">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" style="text-align: left; font-size: 13px; border-color: transparent; background: black;"><i style="color: red">password: </i></span>
                            <input value="" type="password" data-lpignore="true" class="form-control" name="password" id="password" placeholder="secret" aria-label="cli" aria-describedby="basic-addon1" style="box-shadow: none; font-size: 13px; text-align: left; border-color: transparent; color: chartreuse; background: black">
                        </div>
                        <button class="btn btn-out">connect</button>
                    </div>
                </form>

                <!-- <div style="margin: 1rem;">
                    <div class="input-group">
                        <span class="input-group-text" style="text-align: left; font-size: 13px; border-color: transparent; background: black;"><i style="color: red">login: </i></span>
                        <input autofocus value="" type="text" class="form-control" name="login" id="login" placeholder="anon" aria-label="cli" aria-describedby="basic-addon1" style="box-shadow: none; font-size: 13px; text-align: left; border-color: transparent; color: chartreuse; background: black">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" style="text-align: left; font-size: 13px; border-color: transparent; background: black;"><i style="color: red">password: </i></span>
                        <input value="" type="password" class="form-control" name="password" id="password" placeholder="secret" aria-label="cli" aria-describedby="basic-addon1" style="box-shadow: none; font-size: 13px; text-align: left; border-color: transparent; color: chartreuse; background: black">
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='root.js')}}"></script>
{% endblock %}
