{% extends "base.html" %}


{% block terminal_button %}
                    <div class="container col" style="width: auto; padding: 1%;">
                            <button disabled type="submit" class="btn" style="border-color: red; font-size: 10px; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">>_terminal</button>
                    </div>
{% endblock %}


{% block content %}

<div class="" style=" margin-left: 2%; margin-right: 2%">
    <div class="row mx-auto" id="terminal_area" style="opacity: 0; margin-top: 10rem;">
        <div class="col">
            <div class="card" id="terminal" style="background: black; border-color: #7fff00; color: chartreuse; font-family: 'Press Start 2P'; margin-left: 0%; margin-right: 0%">
                <div class="overflow-auto" style="height: 42rem;">
                    <div style="margin-left:2%; margin-top: 2%; margin-right:2%">
                        <div style="font-size: 13px; text-align: left;">
                            <i id="prompt_bf" style="text-align: left; color: red"></i>
                        </div>
                    </div>
                    <div style="margin-left: 1%; margin-right: 1%;">
                        <span class="input-group-text" style="text-align: left; font-size: 13px; border-color: transparent; background: black;"><i id="prompt" style="color: red">root@arp [ ] # </i>
                        <input autofocus value="" type="text" class="form-control" id="terminal_input" placeholder="" aria-label="cli" aria-describedby="basic-addon1" style="box-shadow: none; font-size: 13px; text-align: left; border-color: transparent; border-left: 0; color: chartreuse; background: black">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="height: 42rem; min-height: 85%; background: black; border-top-color: chartreuse; border-bottom-color: chartreuse; border-left-color: chartreuse; border-right-color: chartreuse; margin-right: 0%; margin-right: 0%;">
                <div>
                    <i style="font-size: 10px; color: chartreuse">full path: </i><i id="full_path" style="font-size: 10px; margin-top: 5%; margin-bottom: 5%; color: rgb(207, 207, 91);"></i>
                </div>
                <div>
                    <h4 style="margin-top: 5%; margin-bottom: 5%; color: rgb(207, 207, 91);">{{ location }}</h4>
                </div>
                <div class="overflow-auto"  style="text-align: left; color: rgb(207, 207, 91); margin: 3%">
                    <i id="tutorial_terminal"style="color: rgb(207, 207, 91);">
                        Hello dear newcommer!<br><br>
                        Welcome in unix systems terminal symulation tutorial!
                    </i>
                </div>
            </div>

        </div>
    </div>
</div>

{% block script %}
<script src="{{ url_for('static', path='terminal.js')}}"></script>
{% endblock %}
        
{% endblock %}