{% extends "base.html" %}


{% block user_button %}
                    <div class="container col" style="width: auto; padding: 1%;">
                            <button disabled type="submit" class="btn" style="border-color: chartreuse; font-size: 10px; background-color: black; color: chartreuse; font-family: 'Press Start 2P', cursive;">$USER</button>
                    </div>
{% endblock %}

{% block content %}

{% if user %}
<div class="container card" id="userCard" style="opacity: 0; text-align: left; border-color: chartreuse; background: black; margin: auto; margin-top: 15rem; padding: 2%">
    <p style="text-align: left; color: rgb(207, 207, 91);">user: <l style="color: chartreuse;">{{ user.name }}</l></p>
    <p style="text-align: left; color: rgb(207, 207, 91);">rank: <l style="color: chartreuse;">{{ user.rank }}</l></p>
    <p style="text-align: left; color: rgb(207, 207, 91);">e-mail: <l style="color: chartreuse;">{{ user.email }}</l></p>
    <p style="text-align: left; color: rgb(207, 207, 91);">admin: <l style="color: chartreuse;">{{ user.is_admin }}</l></p>
    <p style="text-align: left; color: rgb(207, 207, 91);">account active: <l style="color: chartreuse;">{{ user.is_active }}</l></p>
</div>
{% endif %}

{% endblock %}


{% block script %}
<script src="{{ url_for('static', path='user.js')}}"></script>
{% endblock %}